body {
    background: url(Images\shutterstock_272163416.jpg);
    color: #124100;
    font-weight: 700;
    background: url('Images/shutterstoke.jpg') no-repeat;
    background-size: cover; /*По размеру экрана*/
}
header {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}
nav:nth-child(2) {
    display: inline-block;
    float: right;
    width: 30%;
}
header div {
    margin-left: 20%;
    margin-right: 20%;
}
header.logo{
    float: left;
}
.login_btn {
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    display: inline-block;
    color: white;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    /*transition: 0.2s;*/
    /*vertical-align: middle; in line box*/
    transform: translateY(10%);
    float: left;
    margin-right: 20%;
}
.fl {
    display: inline-block;
    transform: translateY(60%);
    margin-right: 0;  
}
#flag {
    width: 25px;
    height: 16px;
}