html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
    font: lighter; /*?*/
    /* font: normal; */
}
body {
    color: #86ff56;
    font-weight: lighter;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    display: inline-block;
    background: #8e9faf;
    background: url('Images/shutterstoke.jpg') no-repeat center 0;
    /*Центр по центру блока, отступ сверху - 0*/
    /*background-size: cover; /*По размеру экрана*/
    font-weight: lighter;
    padding-top: 12px;
}
header div {;
    width: 60%;
    margin: 0 auto;
}
.logo{
    margin-left: 10px;
}
.login_btn {
    text-decoration: none; /* убирать подчёркивание у ссылок */
    /*user-select: none; /* убирать выделение текста */
    font-size: 15px;
    color: white;
    padding: 7px 33px; /*По высоте, по ширине*/
    border: 1px solid;
    border-radius: 2px;
    float: right;
    margin-top: 5px;
}
.fl {
    float: right;
    width: 24px;
    margin: 7px 12px 0 25px;
}
#flag {
    height: 15px;
    color: white;
    border: 1px solid;
    border-radius: 2px;
}


.top {
    margin: 0 auto;
    width: 60%;
    color: white;
    font-family: "Open Sans", Verdana, sans-serif;
    padding: 4px 0 143px 32px;
}
h1 {
    font-weight: lighter;
    margin-top: 80px;
    font-size: 36px;
}
.top p {
    font-size: 18px;
}


main {
    margin: 0 auto;
    font-weight: lighter;
}
.white:first-of-type {
    margin-top: 100px;
}
white {
    margin: 0;
}
.gray {
    background: #f7f7f7;
    margin: 0;
}
h2 {
    font-weight: lighter;
    font-size: 36px;
    /* font-style: normal; */
    margin: 0 0 0 20px;
    padding-top: 40px;
 }
 h3 {
    font-weight: lighter;
    font-size: 24px;
    /* font-style: normal; */
    margin: 0 0 0 20px;
    padding-bottom: 15px;
 }
.orangeline {
    margin-top: 14px;
    margin-bottom: 50px;
    margin-left: 22px;
    background: linear-gradient(to right, #f58c73, rgba(255, 255, 255, 0));
    width: 120px;
    height: 2px;
}
.content {
    width: 60%;
    margin: 0 auto;
    color: #333;
    font-weight: lighter; 
}
.content p {
    margin: 0 0 10px 20px;
    font-weight: lighter;
    font-size: 15px;
}
.content img {
    width: 100%;
    font-size: 15px; 
}
.threept {
    display: inline-block;
    margin-top: 60px;
}
.pictext {
    width: 33%;
    font-size: 15px;
    font-weight: lighter;
    float: left;
}
.pictext img {
    display: block;
    margin: 0 auto;
    width: 80px;
}
.pictext div {
    padding: 30px 25px;
}
.smallp {
    font-size: 14px;
    padding-bottom: 10px;
}
.longpic {
    margin: margin: 35px 0 25px 0;
}
.textlink {
    display: inline-block;
    margin-left: 21px;
}
.textli {
    max-width: 33%;
    float: left;
}
h4 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0 0 15px 0;
}
.textli p{
    margin: 0 65px 10px 0;
}
.textlink p a {
    color: #f58c73;
}
.textlink a:hover {
    text-decoration: none;
}
.textli > a {
    text-decoration: none;
}
.textli img {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    background: #f7f7f7;
    font-weight: lighter;
    font-size: 12px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 25px;
}
footer div:only-child {
    /* margin-left: 20%;
    margin-right: 20%; */
    position: relative;
    width: 60%;
    margin: 0 auto;
}
footer a {
    color: #000;
    margin: 0;
    margin-right: 25px;
    text-decoration: none;
    /* white-space: nowrap;     */
}
footer a:first-child {
    margin-left: 20px;
}
footer a:hover {
    text-decoration: underline;
}
.copyr {
    display: inline-block;
    float: right;
    white-space: nowrap;
}
.frights {
    /* margin: 0; */
    padding: 0;
    color: #000;
    margin-right: 50px; 
    display: inline-block;
    float: left;
}
.inst {
    position: absolute;
    right: 0;
    display: inline-block; 
    margin-right: 26px;
    max-width: 24px; 
}